*,
*::before,
*::after {
  box-sizing: border-box; }

body {
  margin: 0;
  background-color: #1e1f29;
  background-image: url("../images/bg-stars.svg");
  background-size: cover;
  font-size: 14px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif; }

.container {
  margin-top: 20px;
  padding: 50px 20px;
  text-align: center; }
  .container h1 {
    color: white;
    font-size: 2.4em;
    font-weight: 700;
    letter-spacing: 2px;
    line-height: 1; }

.date-container {
  padding: 20px 0;
  display: flex;
  justify-content: space-between; }

.date__item {
  padding: 10px 8px;
  background-color: #343650;
  color: #fb6087;
  font-size: 2.6em;
  font-weight: 700;
  border-radius: 8px;
  position: relative;
  box-shadow: 0 5px #13141b; }
  .date__item::after, .date__item::before {
    content: " ";
    width: 8px;
    height: 8px;
    background-color: #1e1f29;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%); }
  .date__item::before {
    left: -5px; }
  .date__item::after {
    right: -5px; }

.date__item-title {
  margin-top: 5px;
  font-size: 0.8em;
  font-weight: 400;
  color: #8486a9; }

footer {
  position: relative; }
  footer .bg {
    width: 100%;
    height: 200px;
    background-image: url("../images/pattern-hills.svg");
    background-size: 230% 100%;
    position: absolute;
    z-index: -1; }

.social-icon {
  padding-top: 100px;
  margin-right: auto;
  margin-left: auto;
  max-width: 120px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }

.social-icon__item {
  width: 28px;
  height: 28px; }
  .social-icon__item img {
    padding: 4px;
    width: 100%; }
  .social-icon__item:hover {
    outline: 2px dotted #fb6087;
    cursor: pointer; }

.attribution {
  margin-top: 30px;
  width: 100%;
  font-size: 11px;
  color: #8486a9;
  text-align: center; }

.attribution a {
  color: #fb6087; }
  .attribution a:hover {
    color: #fa2e61; }

@media (min-width: 400px) {
  .container {
    width: 100%;
    margin: auto; } }

@media (min-width: 500px) {
  .container {
    padding-top: 100px;
    width: 480px; }
  .date-container {
    padding-top: 30px;
    margin-right: auto;
    margin-left: auto;
    width: 400px; }
  .date__item {
    padding: 12px 10px;
    font-size: 3em; }
    .date__item::after, .date__item::before {
      width: 10px;
      height: 10px; }
  footer {
    padding-top: 80px; }
  .social-icon__item {
    width: 33px;
    height: 33px; }
  .attribution {
    font-size: 1em; } }

@media (min-width: 768px) {
  .date-container {
    padding-top: 60px;
    width: 500px; }
  .date__item {
    padding: 18px 16px;
    font-size: 3.5em; }
    .date__item::after, .date__item::before {
      width: 14px;
      height: 14px; }
    .date__item::before {
      left: -7px; }
    .date__item::after {
      right: -7px; } }

@media (min-width: 900px) {
  .container {
    padding-top: 80px;
    padding-bottom: 0;
    width: 100%; }
  .date-container {
    justify-content: space-evenly;
    padding-top: 40px;
    width: 600px; }
  .date__item {
    padding: 20px 18px;
    font-size: 4em; }
    .date__item::after, .date__item::before {
      width: 16px;
      height: 16px; }
    .date__item::before {
      left: -8px; }
    .date__item::after {
      right: -8px; }
  .date__item-title {
    font-size: .95em; }
  footer {
    padding-top: 70px; } }

/*# sourceMappingURL=style.css.map */